html,
body {
  margin: 0;
  padding: 0;
}

.header-top-space {
  margin: 0;
  padding: 5vw;
  display: block;
  background-color: #eae3d9;
}
.header-container {
  margin: 0 auto;
  background-color: #eae3d9;
}

h1 {
  margin: 0px;
  padding: 0px 0px 50px 0px;
  font-size: 4vw;
  color: #445cb7;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 650;
  font-style: normal;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 15px;
}

.blog-date {
  display: block;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Karla';
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgba(34, 34, 34, 0.5);
}

.pre-paragraph {
  margin: 0;
  font-size: 1.5em;
  font-family: 'EB Garamond', serif;
  color: #1d1c12;
  text-align: center;
  font-weight: 500;
}

.body {
  margin: 0;
  padding: 40px;
  background-color: #d7d2c7;
}

.body-paragraph {
  font-family: 'EB Garamond', serif;
  color: #020100;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0.7vw;
}

.footer {
  display: block;
  margin: 0 auto;
  background-color: #ece4d9;
  padding: 20px;
  text-align: center;
  font-family: 'Karla';
  font-size: 12px;
}
